{% extends 'users/base.html'%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   
</head>
<body>
    {% bock content%}
    <div class="container body-container">
        <div class="row">
            <div class="col-md-8 offset-sm-3">
                <div class="content-section">
                    <form action="" method="post" enctype="multipart/form-data">
                        <fieldset class="form-group">
                            <legend class="border-bottom mb-4">Blog Post</legend>
                            
                        </fieldset>
                        <div class="form-group">
                            <button type="submit" class="btn btn-outline-primary">Post</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    {% endblock%}
</body>
</html>